$color-principal: #006b5f;
$color-secundario: #00493f;
$color-texto: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: $color-texto;
  line-height: 1.6;
  background-color: #f8f8f8;
}

header {
  background-color: $color-principal;
  color: white;
  padding: 1rem;

  nav ul {
    list-style: none;
    display: flex; /*para que se ve a horizontal y no vertical*/
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sr-only {
  position: absolute;
  left: -9999px;
}

.destinos {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 1rem;
  align-items: stretch;
  margin: 1rem;

  h2 {
    grid-column: 1 / -1; // ocupa todo el ancho del grid
    text-align: left;
    margin: 1rem 0;
  }
}

.destinos article {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  }

   img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }

.boton {
    width: 50%;
    padding: 1rem;
    margin: 1rem;
  }

  p {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}


.menu-hamburguesa, .icono-hamburguesa {
  display: none;
}

.icono-hamburguesa {
  cursor: pointer;
  align-items: center;
}

.icono-svg line {
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
  transition: transform 0.4s ease, opacity 0.3s ease;
  transform-origin: center;
}

.menu-hamburguesa:checked + .icono-hamburguesa
.icono-svg line:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}


.menu-hamburguesa:checked + .icono-hamburguesa
.icono-svg line:nth-child(2) {
  opacity: 0;
}

.menu-hamburguesa:checked + .icono-hamburguesa
.icono-svg line:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}


.hero {
  position: relative;
  text-align: center;

  .hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .hero-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 2rem;
    border-radius: 8px;
  }
}

.boton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: $color-secundario;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background-color: darken($color-secundario, 10%);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  article {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &:nth-child(even) {
      flex-direction: row-reverse; /*alterna las imágenes*/
    }
  }

  img {
    width: 30%;
    height: 300px;
    object-fit: cover;
  }

  .texto {
    padding: 1rem;
    flex: 1;
  }

  p {
    text-align: justify;
  }
}

.textos {
  padding: 2rem;

  article {
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}

.video {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  iframe {
    width: 560px;
    height: 315px;
  }
}

.intro {
  padding: 2rem;
}

footer {
  text-align: center;
  background-color: $color-principal;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}

iframe {
  border:none;
}


@media (max-width: 768px) /*Pantallas móviles*/
{
  .menu{
    display: none;
  }

  .icono-hamburguesa{
    display: inline-flex;
  }

  .menu-hamburguesa:checked ~ .menu  {
    display: block;
    padding: 1rem;
  }

  .info article {
    flex-direction: column;
    text-align: center;
  
    &:nth-child(even) {
      flex-direction: column;
      text-align: center;
    }
  }

  .info article img {
    width: 100%;
    height: auto;
  }

  .info article p {
    text-align: justify;
    margin: 1rem;
  }

  .video iframe {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .destinos {
    grid-template-columns: 1fr;
  }

  .destinos article img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      50% 100%,
      0 85%
    );

    clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      50% 100%,
      0 85%
    );
  }
}

